@import 'tailwindcss';

:root {
  --background: #F2F3F7;
  --foreground: #201f24;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Public Sans', sans-serif;
}
